* {
    padding: 0px;
    margin: 0px;
    font-family: rpg;
}
:root{
    --fundo-1:#ba9b69;
}
@font-face {
    font-family: 'rpg';
    src: url(fonts/Middleearth-ao6m.ttf) format('truetype');
}

body {
    height: 100vh;
    background-image: url(https://i.redd.it/yz6of53l6jyy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 30px;
    background-color: var(--fundo-1);
    opacity: 90%;
    border-bottom: 1px solid #2f0d07;
}
header h1{
    color: #2f0d07;
}

main {
    margin: 2rem;
    display: flex;
    height: 28rem;
    justify-content: center;
    flex: 1;
}

.back-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding: 16px;
    border: 1px solid #2f0d07;
    background-color: #ba9b69;
    box-shadow: -1px 1px 3px #2f0d07;
    opacity: 90%;
}

.content{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid #2f0d07;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #2f0d07;
}

input{
    background-color: aliceblue;
    display: flex;
    border:0;
    border-bottom: solid 1px #666;
    flex-direction: column;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 10px 1px;
}

#inputo{
    width: 20%;
    align-items: center;
    cursor: pointer;
    border-bottom: none;
}

a{
    text-decoration: none;
}

footer {
    background-color: #ba9b69;
    text-align: center;
    color: #2f0d07;
    padding: .5rem;
}