* {
    padding: 0px;
    margin: 0px;
    font-family: rpg;
}

@font-face {
    font-family: 'rpg';
    src: url(../fonts/Middleearth-ao6m.ttf) format('truetype');
}

body {
    background-image: url(https://i.redd.it/yz6of53l6jyy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 30px;
    background-color: #ba9b69;
    opacity: 90%;
    border-bottom: 1px solid #2f0d07;
}

h1 {
    color: #2f0d07;
}

main {
    margin: 2rem;
    display: flex;
    justify-content: center;
}


.back-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
    padding: 16px;
    border: 1px solid #2f0d07;
    background-color: #ba9b69;
    box-shadow: 1px 1px 3px #2f0d07;
    opacity: 90%;
}

.content {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 35px;
    height: 100%;
    background-color: aliceblue;
    border: 1px solid #2f0d07;
}

.content h2 {
    font-size: 30px;
    color: #2f0d07;
}

.box1 {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.box1 input {
    width: 140px;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 230px;
    padding-bottom: 30px;
}

.box2 input::-webkit-inner-spin-button {
    appearance: none;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 230px;
    padding-bottom: 30px;
}

.box4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 230px;
}

.box4 div {
    gap: 20px;
    display: flex;
}

.box4 div input {
    width: 140px;
}

.box4 input::-webkit-inner-spin-button {
    appearance: none;
}


input {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border: 0;
    border-bottom: solid 1px #666;
    outline: none;
}

.enviar {
    width: 9rem;
    display: block;
    position: relative;
    border-radius: 3px;
    font-size: 1rem;
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
}
.voltar {
    width: 9rem;
    display: block;
    position: relative;
    border-radius: 3px;
    font-size: 1rem;
    color: black;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
}
.enviar:hover {
    filter: brightness(110%);
    transform: translateY(-2px);
}

.voltar:hover {
    filter: brightness(110%);
    transform: translateY(-2px);
}

.butao{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;
}


.box_termo{
    display: flex;
    margin-top: 20px;
}

.box_termo p{
    margin-left: 10px;
}

.box_termo a{
    text-decoration: none;
}

footer {
    background-color: #ba9b69;
    text-align: center;
    color: #2f0d07;
    padding: .5rem;
}